<div class="header">
    <a href="{{pathPrefix}}" class="header-logo">
        {{> icon_logo}}
    </a>
    <div class="header-title">
        <div class="settings">
            <h2>FOOD WORKS</h2>
        </div>
    </div>
</div>