<div class="header">
    <img src="{{pathPrefix}}img/logo.svg" alt="Food Works Logo" />
    <h3>FOOD WORKS</h3>
    <div class="icon-actions">
        <div class="settings">
            <a href="{{pathPrefix}}settings">
                {{> icon_gear}}
            </a>
        </div>
        <div class="logout">
            <a href="{{logoutUrl}}">
                {{> icon_sign_out}}
            </a>
        </div>
    </div>
</div>
