<div class="auth">

    <h2>FOOD WORKS</h2>
	<img src="{{pathPrefix}}/img/logo.svg" alt="Food Wrks Logo">
	<h5>¡Salva comida ya y combate el desperdicio!</h5>
 
    {{> messages messages=messages className="global"}}

    {{#if password}}
        <div id="registration-password">
            {{> form submitLabel="Sign up" form=password}}
        </div>
    {{/if}}

    {{#if oidc}}
        <div id="registration-oidc">
            {{> form form=oidc}}
        </div>
    {{/if}}

    <hr class="divider">

    <div class="alternative-actions">
        <a href="{{pathPrefix}}auth/login">YA TENGO CUENTA</a>
    </div>
 
</div>