<div class="content">
    {{> header}}
    <div class="container">
        <h2>Ajustes</h2>

        {{> messages messages=messages className="global"}}

        {{#if (eq state "success")}}
            <p>Tus cambios han sido guardados</p>
        {{/if}}

        {{#if profile}}
            <div id="user-profile">
                <h3>Perfil</h3>
                {{> form submitLabel="Save" form=profile}}
            </div>
        {{/if}}

        {{#if password}}
            <hr />
            <div id="user-password">
                <h3>Contraseña</h3>
                {{> form submitLabel="Save" form=password}}
            </div>
        {{/if}}

        {{#if oidc}}
            <hr />
            <div id="user-oidc">
                <h3>Registro Social</h3>
                {{> form form=oidc}}
            </div>
        {{/if}}
    </div>
</div>
